@media screen and (max-width:980px) {

.navbar{
    padding:2px 5px !important;
    height: 15% !important;
}

.image{
    display:none;
}
    

    .consx{
        width:100vw;
    }

 .textcat{
        width:100vw ;
 text-align:center;
 align-items: center;
    }
.textcat h1{
   
    width:100%;
    font-size:2.7em;
}

 .navbar ul{
    position:fixed;
    background:linear-gradient(to bottom,rgba(0, 0, 0, 0.897),rgba(0, 0, 0, 0.719),rgba(12, 12, 12, 0.877));
    inset:0px;
    flex-direction:column;
    align-self: flex-end;
    left:70%;
    align-items: flex-end;
    gap:1px !important;
transform:translateX(100%);
    justify-content: space-around;
    transition:all .5s ease-in;
 }

 ul[data-visible="true"]{
    transform:translateX(0%) !important;
}

.navbar ul .listitem{
    margin-top:4em;
margin-right:.7em;   
}

.listitem .navlink{
color:white;
}

 .navbar .menu{
    display:block !important;
    z-index:100;
  cursor:pointer;
    margin: 2em 0;
    font-weight:bolder;
    font-size: 1.5em;
    color:gray;
}
.con{
    row-gap:20px;
justify-content: space-around !important;
    flex-wrap: wrap;
} 

.scat{
    width:70% !important;
}

#services{
    margin-top:9em;
}
 
.con p{
    width:90%;
}

.linebreak .cat{
    width: 40% !important;
}

.row{
    width:100%;
}


@media screen and (orientation:landscape){
    #About img{
 width:20%;
 height:30%;
 
    }
 
    #About .text{
     width:90%;
     transform:translate(60%,0%);
    }
    
    .text .acttext{
     width:100%;
     align-items: center;
 }
 
 .acttext h2{
     font-size:2em;
 }
 
 .acttext p{
     text-align: center !important;
 }
 
 .linebreak{
     height:max-content !important;
 }
 
 .linebreak .text{
     margin:5em 0px !important;
   
 }
 
 .linebreak .text p{
     width:100%;
 }
 
 .caton .cat{
  width:80% !important;
  margin:1.4em 0px;
  align-items:center;
  
 }
 
 #contact{
     justify-content: center;
 }
 
 }

}    

@media screen and (orientation:portrait) {
    
 #About img{
    display:none;
 }

 #About .text{
    width:100% !important;
    transform: translate(0,0) !important;
    position:initial !important; 
 }

 .text .acttext{
    width:100%;
    text-align: center;
    align-items: center;
 }

.acttext h2{
    font-size:1.4em !important;
}

.acttext p{
    position:initial !important;
    transform: translate(0,0) !important;
    text-align:center !important;
}

.linebreak{
    height:max-content !important;
}

.linebreak .text{
    margin:5em 0px !important;
  
}

.linebreak .text p{
    width:100%;
}

.caton .cat{
 width:80% !important;
 margin:1.4em 0px;
 align-items:center;
 
}

#contact{
    justify-content: center;
}

.row{
    height:100%;
    padding:2em;
    flex-direction: column;
}

.row > div{
    width:100% !important;
    height:40% !important;
}

}
